/* hero */

.hero{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)) , url('..\\images\\hero-bg.jpg');
    background-position: center;
    background-size: cover;
}

.hero h2{
    line-height: 3.625rem;
    font-size: 3rem;
}

.hero-subtitle{
    font-size: 1.5rem;
    line-height: 2.25rem;
}